*{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://wallpaperbat.com/img/719952-volkswagen-wallpaper.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.356);

}
.galeria{
    margin: 0;
    display: flex;
height: 50vh;
gap: 0.8px;
margin-top: 50px;
}



.galeria div{
    flex: 2;
    background-size: cover;
    background-position: bottom center;
transition: all 0.5 cubic-bezier(.41,.52,.41,.53);

}
.galeria div:hover{
    flex: 5;
}

.galeria:hover div:not(:hover){
    /* filter: blur(50%); */
}

h1{
    font-size: 50px;
    font-family: "Londrina Sketch", sans-serif;
text-align: center;
color: white;
}